@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background: #7f98fc !important;
    padding: 0 2rem;
}

.alert {
    margin-top: -52px;
}

.border-success {
    border-color: #39d65b !important;
}

.text-success {
    color: #39d65b !important;
}

.border-danger {
    border-color: #f36161 !important;
}

.bg-danger {
    background: #f36161 !important;
}

.text-danger {
    color: #f36161 !important;
}

input {
    appearance: none;
    border-radius: 0;
}

.card {
    margin: 4.5rem auto !important;
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    max-width: 425px !important;
    border-radius: 10px !important;
    padding: 0.75rem !important;
    background: #fff !important;
}

.card-heading {
    font-family: 'BioRhyme', serif;
    font-size: 1.75rem;
    font-weight: 700;
    color: #5576fc;
    line-height: 1.222;
    text-align: center;
}

.card small {
    color: #8597a3;
    display: block;
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
}

.card-form {
    padding: 1rem 1rem 0;
}

.action {
    margin-top: 2rem;
}

.action-button {
    font: inherit;
    font-size: 1.25rem;
    padding: 0.5em;
    width: 100%;
    font-weight: 500;
    background-color: #5576fc;
    border-radius: 6px;
    color: #FFF;
    border: 0;
}

.action-button:focus {
    outline: 0;
}

.card-info {
    padding: 0.5rem;
    text-align: center;
    font-size: 0.875rem;
    color: #8597a3;
}

.card-info a {
    color: #5576fc;
    text-decoration: none;
}

.form-label {
    color: #5576fc;
}

.form-control.is-invalid:focus, 
.form-control.is-invalid:valid {
    border-bottom: 2px solid #fc5555 !important;
    border: none;
    box-shadow: 0 0 5px transparent !important;
}

.form-control:focus,
.form-control:valid {
    border-bottom: 2px solid #5576fc !important;
    box-shadow: 0 0 5px transparent !important;
}