@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&display=swap');

.alert {
    margin-top: 20px;
}

.border-success {
    border-color: #39d65b !important;
}

.text-success {
    color: #39d65b !important;
}

.border-danger {
    border-color: #f36161 !important;
}

.bg-danger {
    background: #f36161 !important;
}

.text-danger {
    color: #f36161 !important;
}

.bg-primary {
    background: #7f98fc !important;
}

.text-primary {
    color: #7f98fc !important;
}

header {
    background: #7f98fc;
    height: 80px;
    position: relative;
}

.logo-title {
    font-family: 'BioRhyme', serif;
    color: #7f98fc !important;
}

.navbar {
    margin-top: -30px;
}

.navbar-collapse .nav-item.hide {
    opacity: 0;
}

@media (max-width: 991px) {
    .navbar-collapse .nav-item.hide {
        opacity: 1;
    }

    .navbar .logo-title span.hide,
    li.navbar-nav {
        display: none;
    }

    .nav-item.dropdown {
        display: none;
    }
}

.navbar-nav .nav-link .icon {
    color: #7f98fc;
}

.navbar-nav .nav-link .icon,
.nav-tabs .nav-link .icon {
    font-size: 12px;
}

.sidebar .nav-link {
    color: #fff;
}

.sidebar li.nav-item.active::before {
    background-color: transparent !important;
}

.sidebar li.nav-item.active::before {
    content: '';
    width: 5px; height: 5px; border-radius: 50%;
    background-color: #Fff;
    /* padding-right: 120px; */
    color: #7f98fc !important;
    /* border-bottom: #fff solid 1px; */
}
.nav-link {
    cursor: pointer;
}

.main-title {
    margin: 30px 0;
}

.main-title h2 {
    font-family: 'BioRhyme', serif;
}

.card .card-image,
.detail-post .card-image{
    max-height: 210px;
    overflow: hidden;
}

.card img {
    height: 100%; width: 100%;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.card p {
    text-align: justify;
    font-size: 14px;
    color: #999999;
    line-height: 18px;
}

.card .card-img-overlay h5 {
    font-family: 'BioRhyme', serif;
}

.related-post .post .caption-img {
    width: 110px;
    height: 60px;
}

.related-post .post .caption-img img {
    width: 100%; height: 100%;
}

.related-post .post .caption {
    width: 100px;
    margin-top: -20px;
    margin-left: -3px;
}

.related-post .post .caption h6 {
    margin-top: -10px;
}

.recent-post img {
    max-height: 75px;
}

.btn {
    background: #7f98fc;
}

.nav-tabs .nav-link {
    color: #7f98fc;
}

.pagination .page-item a {
    background-color: white;
    color: #5a5a5a !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: white;
    background-color: #7f98fc;
    border: solid 1px #7f98fc !important;
}